@page
@model AppGoodFriendsRazor.Pages.Edit.EditPetModel
@{
    ViewData["Title"] = Model.PageHeader ?? "Add and edit pets of a Friend";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@attribute [IgnoreAntiforgeryToken]

<a href="javascript:window.history.back()" class="text-decoration-none">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left bi-2x" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M5.354 11.354a.5.5 0 0 1 0-.708L2.707 8.5l2.647-2.646a.5.5 0 0 1 .708.708L4.207 8.5l1.854 1.854a.5.5 0 0 1-.708.708z" />
        <path fill-rule="evenodd" d="M3 8.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3.5a.5.5 0 0 1-.5-.5z" />
    </svg>
</a>

@*
<div class="container px-4 py-4" id="add-edit-pet">
    <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5">
        <div class="col-md-7 col-lg-8">
            <form class="needs-validation" novalidate>
                <div class="col-md-7 col-lg-10 ">
                    <!--To keep between Posts -->
                    <input asp-for="PageHeader" value="@Model.PageHeader" type="hidden" />

                    <!-- Server side validation errors, rough but just in case client side validation is not working or tampered with -->
                    @if (Model.ValidationResult.HasErrors)
                    {
                        <div class="row g-3">
                            @foreach (var item in Model.ValidationResult.ErrorMsgs)
                            {
                                <span class="alert alert-danger" role="alert">
                                    @item
                                </span>
                            }
                        </div>
                    }
                    <h2 class="pb-2 border-bottom">@Model.PageHeader </h2>
                    <h6>Fill in the details below to add or edit a pet.</h6>

                </div>

                <div class="row g-3">
                    <input name="PetId" value="@Model.PetIM.PetId" type="hidden"/>
                        <input type="text" class="form-control is-invalid" id="petName" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                The pet must have a name
                            </div>
                 
                    <div class="col-sm-6">
                        <label for="petType" class="form-label">Type of animal</label>

                        <select asp-for="SelectedKind" asp-items="@Html.GetEnumSelectList<Models.enAnimalKind>()" class="form-control" id="petType">
                            <option value="">Pick animal type</option>
                        </select>
                        <span asp-validation-for="SelectedKind" class="invalid-feedback"></span>
                    </div>

                    <div class="col-sm-6">
                        
                        <label for="petType" class="form-label">Mood of animal</label>

                        <select asp-for="SelectedMood" asp-items="@Html.GetEnumSelectList<Models.enAnimalMood>()" class="form-control" id="petType">
                            <option value="">Pick animal type</option>
                        </select>
                        <span asp-validation-for="SelectedMood" class="invalid-feedback"></span>
                       
                    </div>

                    <div class="col-12 d-flex justify-content-center me-5 mt-5">
                        <button class="btn btn-success mx-2 mt-3 btn-lg h6" type="submit" asp-page-handler="Save">Save</button>
                        <button class="btn btn-light mx-2 mt-3 btn-lg h6" type="submit" asp-page-handler="Undo">Cancel</button>
                    </div>
                </div>

               

               
                   
                
            </form>


    </div>
</div>
*@



<div class="container px-4 py-4" id="pets-of-friends">
    <h2 class="pb-2 border-bottom">My friend's pets</h2>

    <p>Below are some pets of Friends. Select To Edit the Kind and Mood.</p>
    <form class="needs-validation" method="post" novalidate>
        <input name="PetId" value="@Model.PetIM.PetId" type="hidden" />
        <div class="row mb-2 text-center">
            <div class="col-md-12 themed-grid-col">
                <label for="animals" class="form-label">Select Kind</label>
                <select asp-for="SelectedKind" asp-items="Html.GetEnumSelectList<Models.enAnimalKind>()" class="form-control" id="animals">
                </select>
            </div>
        </div>
        <div class="row mb-2 text-center">
            <div class="col-md-12 themed-grid-col">
                <label for="animals" class="form-label">Select Mood</label>
                <select asp-for="SelectedMood" asp-items="Html.GetEnumSelectList<Models.enAnimalMood>()" class="form-control" id="animals">
                </select>
            </div>
        </div>
        <button class="btn btn-success mx-2 mt-3 btn-lg h6" type="submit" asp-page-handler="Save">Save</button>

        <div class="row mb-2 text-center">
            <div class="col-md-12 themed-grid-col">
                <label for="newPetName" class="form-label">New Pet Name</label>
                <input type="text" id="newPetName" class="form-control" asp-for="PetIM.Name" required />
                <div class="invalid-feedback">Please enter a name for the new pet.</div>
            </div>
        </div>

        <div class="row mb-2 text-center">
            <div class="col-md-12 themed-grid-col">
                <label for="newPetKind" class="form-label">New Pet Kind</label>
                <select id="newPetKind" class="form-control" asp-for="PetIM.Kind" asp-items="Html.GetEnumSelectList<Models.enAnimalKind>()" required>
                    <option value="">Pick one</option>
                </select>
                <div class="invalid-feedback">Please select a kind for the new pet.</div>
            </div>
        </div>

        <div class="row mb-2 text-center">
            <div class="col-md-12 themed-grid-col">
                <label for="newPetMood" class="form-label">New Pet Mood</label>
                <select id="newPetMood" class="form-control" asp-for="PetIM.Mood" asp-items="Html.GetEnumSelectList<Models.enAnimalMood>()" required>
                    <option value="">Pick one</option>
                </select>
                <div class="invalid-feedback">Please select a mood for the new pet.</div>
            </div>
        </div>
        <input type="hidden" asp-for="PetIM.FriendId" />
        <button class="w-100 btn btn-success btn-lg my-4" type="submit" asp-page-handler="AddPet">Add Pet</button>
    </form>

    <div class="row mb-2 text-center">
        <div class="col-md-10 themed-grid-head-col">
            Selected items
        </div>
    </div>
    @if (Model.SelectedKind != null)
    {
        <div class="row mb-2 text-center">
            <div class="col-md-10 themed-grid-col">
                @Model.SelectedKind
            </div>
        </div>
    }
    @if (Model.SelectedMood != null)
    {
        <div class="row mb-2 text-center">
            <div class="col-md-10 themed-grid-col">
                @Model.SelectedMood.ToString()
            </div>
        </div>
    }
</div>

