@page
@model AppGoodFriendsRazor.Pages.Edit.AddEditPetModel
@{
    ViewData["Title"] = Model.PageHeader ?? "Add and edit pets of a Friend";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@attribute [IgnoreAntiforgeryToken]

<a href="javascript:window.history.back()" class="text-decoration-none">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left bi-2x" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M5.354 11.354a.5.5 0 0 1 0-.708L2.707 8.5l2.647-2.646a.5.5 0 0 1 .708.708L4.207 8.5l1.854 1.854a.5.5 0 0 1-.708.708z" />
        <path fill-rule="evenodd" d="M3 8.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3.5a.5.5 0 0 1-.5-.5z" />
    </svg>
</a>

@* <div class="container px-4 py-4" id="add-edit-pet">
    <h2 class="pb-2 border-bottom">My friend's pets</h2>

    <p>Below are some pets of Friend. Click and choose pet's Kind and Mood.</p>
    <form class="needs-validation" method="post" novalidate>
        <input name="PetId" value="@Model.PetIM.PetId" type="hidden" />

        <h4>Edit @Model.PetIM.Name</h4>
        <div class="row mb-2 text-center">
            <div class="col-md-12 themed-grid-col">
                <label for="name" class="form-label">Pet name</label>
                <input asp-for="@Model.PetIM.Name" asp-items="@Model.PetIM.Name" class="form-control" id="name"/>
            </div>
        </div>
       
        <div class="row mb-2 text-center">
            <div class="col-md-12 themed-grid-col">
                <label for="kind" class="form-label">Select Kind</label>
                <select asp-for="SelectedKind" asp-items="Html.GetEnumSelectList<Models.enAnimalKind>()" class="form-control" id="kind">
                </select>
            </div>
        </div>

        <div class="row mb-2 text-center">
            <div class="col-md-12 themed-grid-col">
                <label for="mood" class="form-label">Select Mood</label>
                <select asp-for="SelectedMood" asp-items="Html.GetEnumSelectList<Models.enAnimalMood>()" class="form-control" id="mood">
                </select>
            </div>
        </div>
        <button class="btn btn-success mx-2 mt-3 btn-lg h6" type="submit" asp-page-handler="Save">Save</button>

        <h4>Add Pet Here</h4>
        <div class="row mb-2 text-center">
            <div class="col-md-12 themed-grid-col">
                <label for="newName" class="form-label"> Name</label>
                <input type="text" id="newName" class="form-control" asp-for="PetIM.Name" required />
                <div class="invalid-feedback">Pet needs a name </div>
            </div>
        </div>

        <div class="row mb-2 text-center">
            <div class="col-md-12 themed-grid-col">
                <label for="newKind" class="form-label">Choose kind of pet</label>
                <select id="newKind" class="form-control" asp-for="PetIM.Kind" asp-items="Html.GetEnumSelectList<Models.enAnimalKind>()" required>
                    <option value="">Pick animal kind</option>
                </select>
                <div class="invalid-feedback">Pet needs a kind</div>
            </div>
        </div>

        <div class="row mb-2 text-center">
            <div class="col-md-12 themed-grid-col">
                <label for="newMood" class="form-label">Choose Mood of pet</label>
                <select id="newMood" class="form-control" asp-for="PetIM.Mood" asp-items="Html.GetEnumSelectList<Models.enAnimalMood>()" required>
                    <option value="">Pick animal mood</option>
                </select>
                <div class="invalid-feedback">Pet needs a kind</div>
            </div>
        </div>

        <input type="hidden" asp-for="PetIM.FriendId" />
        <button class="w-100 btn btn-success btn-lg my-4" type="submit" asp-page-handler="AddPet">Add Pet</button>
    </form>

    <div class="row mb-2 text-center">
        <div class="col-md-10 themed-grid-head-col">
            Selected items
        </div>
    </div>
    @if (Model.SelectedKind != null)
    {
        <div class="row mb-2 text-center">
            <div class="col-md-10 themed-grid-col">
                @Model.SelectedKind
            </div>
        </div>
    }
    @if (Model.SelectedMood != null)
    {
        <div class="row mb-2 text-center">
            <div class="col-md-10 themed-grid-col">
                @Model.SelectedMood.ToString()
            </div>
        </div>
    }
</div> *@


<div class="container px-4 py-4" id="pets-of-friends">
    <h2 class="pb-2 border-bottom">My friend's pets</h2>

    <p>Select To Edit the Kind and Mood.</p>
    <form class="needs-validation" method="post" novalidate>
        <input name="PetId" value="@Model.PetIM.PetId" type="hidden" />

        <h6>Edit @Model.PetIM.Name </h6>
        <div class="row mb-2 text-center">
            <div class="col-md-12 themed-grid-col">
                <label for="animals" class="form-label">Select Kind</label>
                <select asp-for="SelectedKind" asp-items="Html.GetEnumSelectList<Models.enAnimalKind>()" class="form-control" id="animals">
                </select>
            </div>
        </div>
        <div class="row mb-2 text-center">
            <div class="col-md-12 themed-grid-col">
                <label for="animals" class="form-label">Select Mood</label>
                <select asp-for="SelectedMood" asp-items="Html.GetEnumSelectList<Models.enAnimalMood>()" class="form-control" id="animals">
                </select>
            </div>
        </div>
        <button class="w-100 btn btn-primary btn-lg my-4" type="submit" asp-page-handler="Save">Save</button>

        <h6>Add new pet here </h6>
        <div class="row mb-2 text-center">
            <div class="col-md-12 themed-grid-col">
                <label for="newPetName" class="form-label">New Pet Name</label>
                <input type="text" id="newPetName" class="form-control" asp-for="PetIM.Name" required />
                <div class="invalid-feedback">Please enter a name for the new pet.</div>
            </div>
        </div>

        <div class="row mb-2 text-center">
            <div class="col-md-12 themed-grid-col">
                <label for="newPetKind" class="form-label">New Pet Kind</label>
                <select id="newPetKind" class="form-control" asp-for="PetIM.Kind" asp-items="Html.GetEnumSelectList<Models.enAnimalKind>()" required>
                    <option value="">Pick one</option>
                </select>
                <div class="invalid-feedback">Please select a kind for the new pet.</div>
            </div>
        </div>

        <div class="row mb-2 text-center">
            <div class="col-md-12 themed-grid-col">
                <label for="newPetMood" class="form-label">New Pet Mood</label>
                <select id="newPetMood" class="form-control" asp-for="PetIM.Mood" asp-items="Html.GetEnumSelectList<Models.enAnimalMood>()" required>
                    <option value="">Pick one</option>
                </select>
                <div class="invalid-feedback">Please select a mood for the new pet.</div>
            </div>
        </div>
        <input type="hidden" asp-for="PetIM.FriendId" />
        <button class="w-100 btn btn-success btn-lg my-4" type="submit" asp-page-handler="AddPet">Add Pet</button>
    </form>

    
    @if (Model.SelectedKind != null)
    {
        <div class="row mb-2 text-center">
            <div class="col-md-10 themed-grid-col">
                @Model.SelectedKind
            </div>
        </div>
    }
    @if (Model.SelectedMood != null)
    {
        <div class="row mb-2 text-center">
            <div class="col-md-10 themed-grid-col">
                @Model.SelectedMood.ToString()
            </div>
        </div>
    }
</div>