@page
@model AppGoodFriendsRazor.Pages.Friend.FriendDetailModel
@{
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@attribute [IgnoreAntiforgeryToken] 

<a href="javascript:window.history.back()" class="text-decoration-none">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left bi-2x" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M5.354 11.354a.5.5 0 0 1 0-.708L2.707 8.5l2.647-2.646a.5.5 0 0 1 .708.708L4.207 8.5l1.854 1.854a.5.5 0 0 1-.708.708z" />
        <path fill-rule="evenodd" d="M3 8.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3.5a.5.5 0 0 1-.5-.5z" />
    </svg>
</a>

<div class="container px-4 py-4" id="view-friend">
    <h2 class="pb-2 border-bottom">View details of a friend</h2>
    @foreach (var friend in Model.FriendDetail)
    {
        <h6>Below you find all the details of <b>@friend.FirstName </b> </h6>
        
        <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5">
            <div class="col-md-7 col-lg-8">
                <form class="needs-validation" novalidate>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">First name</label>
                            <input type="text" class="form-control" id="firstName" value="@friend.FirstName" required>
                        </div>

                        <div class="col-sm-6">
                            <label for="lastName" class="form-label">Last name</label>
                            <input type="text" class="form-control" id="lastName" value="@friend.LastName" required>
                        </div>

                        <div class="col-sm-6">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control" id="email" value="@friend.Email">
                        </div>
                        <div class="col-sm-6">
                            <label for="birthday" class="form-label">Birthday</label>
                            <input type="text" class="form-control" id="birthday"
                                   value="@(friend.Birthday.HasValue ? friend.Birthday.Value.ToString("yyyy-MM-dd") : "N/A")">
                        </div>

                        <div class="row g-3 visible">
                            <div class="col-12">
                                <label for="address" class="form-label">Address</label>
                                <input type="text" class="form-control" id="address" value="@friend.Address.StreetAddress" required> 
                            </div>

                            <div class="col-md-3">
                                <label for="zip" class="form-label">Zip</label>
                                <input type="text" class="form-control" id="zip" value="@friend.Address.ZipCode" required>
                            </div>

                            <div class="col-md-4">
                                <label for="city" class="form-label">City</label>
                                <input type="text" class="form-control" id="city" value="@friend.Address.City" required>
                            </div>

                            <div class="col-md-5">
                                <label for="country" class="form-label">Country</label>
                                <input type="text" class="form-control" id="country" value="@friend.Address.Country" required>
                            </div>
                        </div>
                    </div>
                    
                </form>
            </div> 
        </div>

        <div class="col-md-7 col-lg-8">
            <div class="form-group">
                <h3 class="pb-2">@friend.FirstName's pets </h3>

                @if (friend.Pets != null && friend.Pets.Any())
                {
                    <div class="row mb-2 text-center ">
                        @foreach (var pet in friend.Pets)
                        {
                            <div class="col-md-10 themed-grid-col "> 
                                <span class="form-control"> @pet.Name the @pet.Mood @pet.Kind</span>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="form-control mb-3"> Has no pets</div> 
                }
            </div>
        </div>

        <div class="col-md-7 col-lg-8">
            <div class="form-group">
                <h3 class="pb-2">@friend.FirstName's favorite quotes </h3> 
                @if (friend.Quotes != null && friend.Quotes.Any())
                {
                    <div class="row mb-2 text-center">
                        @foreach (var quote in @friend.Quotes)
                        {
                            <div class="col-md-10 themed-grid-col">
                                <span class="form-control"> @quote.Quote 
                                    <div class="col-md-16 text-end" style="font-weight: bold;">@quote.Author</div>
                                </span>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="form-control mb-3"> Has no quotes</div> 
                }
            </div>
        </div>

        <a href="~/Edit/EditFriendDetail?id=@friend.FriendId" class="w-100 btn btn-primary btn-lg my-4" type="button">Edit @friend.FirstName </a>
        @*<a href="~/Edit/AddEditFriend?id=@friend.FriendId" class="w-100 btn btn-primary btn-lg my-4">Edit @friend.FirstName 's details</a>*@
    }
</div>