@page
@model AppGoodFriendsRazor.Pages.Friend.ListOfFriendModel
@{
    ViewData["Title"] = "List of friends";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@attribute [IgnoreAntiforgeryToken]

<div class="container px-4 py-4" id="list-of-friends">
    <h2 class="pb-2 border-bottom">List of friends</h2>

    <p>
        These are my friends. You can seach by name or address. You can also view or edit all the details. Sad but possible, if you have the right authorization you
        could also remove a friened from my database. More fun is that you can add a friend, pet and quote. 
    </p>
    <div class="row mb-1 text-center">
        <div class="col-md-8 ">
            <form class="d-flex mt-3 mt-lg-0" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>

    <div class="row mb-2 text-center">
        <div class="col-md-4 themed-grid-col">Name</div>
        <div class="col-md-4 themed-grid-col">Address</div>
        <div class="col-md-2 themed-grid-col">Info</div>
        <div class="col-md-2 themed-grid-col">
            <a href="~/Edit/AddEditFriend" class="btn btn-success btn-sm" type="button">Add</a>
        </div>
    </div>

    <div class="row mb-2 text-center">
        @foreach (var friend in Model.FriendsList)
        {
            <div class="col-md-4 themed-grid-col">
                @friend.FirstName @friend.LastName 
                <div class="col-md-16">@friend.Email</div>
            </div>
            <div class="col-md-4 themed-grid-col">
                @friend.Address.StreetAddress
                <div class="col-md-16">@friend.Address.City</div>
                <div class="col-md-16">@friend.Address.Country</div>
            </div>
            <div class="col-md-2 themed-grid-col">
                <div class="col-md-16">Born: @friend.Birthday</div>
                <div class="col-md-16">Pets: @friend.Pets.Count</div>
                <div class="col-md-16">Quotes: @friend.Quotes.Count</div>
            </div>
            <div class="col-md-2 themed-grid-col">
                <a href="~/Edit/ViewFriendPetQuote" class="btn btn-primary btn-sm" type="button">View</a>
                <a href="~/Edit/AddEditFriend" class="btn btn-secondary btn-sm" type="button">Edit</a>
                <a href="#modals" class="btn btn-danger btn-sm" type="button">Delete</a>
            </div>
        }
    </div>

 </div>