@page
@model AppGoodFriendsRazor.Pages.Friend.ListOfFriendModel
@{
    ViewData["Title"] = "List of friends";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@attribute [IgnoreAntiforgeryToken]

<a href="javascript:window.history.back()" class="text-decoration-none">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left bi-2x" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M5.354 11.354a.5.5 0 0 1 0-.708L2.707 8.5l2.647-2.646a.5.5 0 0 1 .708.708L4.207 8.5l1.854 1.854a.5.5 0 0 1-.708.708z" />
        <path fill-rule="evenodd" d="M3 8.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3.5a.5.5 0 0 1-.5-.5z" />
    </svg>
</a>

<div class="container px-4 py-4" id="list-of-friends">
    <h2 class="pb-2 border-bottom">List of friends</h2>

    <p>
        These are my friends. You can seach by name or address. You can also view or edit all the details. Sad but possible, if you have the right authorization you
        could also remove a friened from my database. More fun is that you can add a friend, pet and quote. 
    </p>
    <div class="row mb-1 text-center">
        <div class="col-md-8 ">
            <form class="d-flex mt-3 mt-lg-0" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>

    <div class="row mb-2 text-center" >
        <div class="col-md-4 themed-grid-col"><span class="form-control" style="font-weight: bold;">Name</span> </div>
        <div class="col-md-4 themed-grid-col"><span class="form-control" style="font-weight: bold;"> Address </span></div>
        <div class="col-md-2 themed-grid-col"><span class="form-control" style="font-weight: bold;"> Info </span></div>
            <div class="col-md-2 themed-grid-col">
                <a href="~/Edit/AddEditFriend" class="btn btn-success btn-sm" type="button">Add</a>
            </div>
    </div>
       
   
    <div class="row mb-2 text-center">
        @foreach (var friend in Model.FriendsList)
        {
             <div class="col-md-4 themed-grid-col"> <span class="form-control">
                @friend.FirstName @friend.LastName     
                <div class="col-md-16"> @friend.Email </div> </span>
             </div>
            <div class="col-md-4 themed-grid-col"> <span class="form-control"> 
                @friend.Address.StreetAddress  @friend.Address.City
                    <div class="col-md-16">@friend.Address.Country</div>
                </span>
            </div>
            <div class="col-md-2 themed-grid-col">
                <span class="form-control">
                    <div class="col-md-16">Born: @(friend.Birthday.HasValue ? friend.Birthday.Value.ToString("yyyy-MM-dd") : "N/A")</div>
                    <div class="col-md-16"> has: @friend.Pets.Count pets & @friend.Quotes.Count quotes </div>
                </span>
            </div>
            <div class="col-md-2 themed-grid-col">
                <a href="~/Edit/ViewFriendPetQuote?id=@friend.FriendId" class="btn btn-primary btn-sm" type="button">Edit</a>
                <a href="~/Friend/FriendDetail?id=@friend.FriendId" class="btn btn-secondary btn-sm" type="button">View</a>
                <a href="#modals" class="btn btn-danger btn-sm" type="button">Delete</a>
            </div>
        }
    </div>

 </div>