@page
@model AppGoodFriendsRazor.Pages.AIQuoteListModel
@{
    ViewData["Title"] = "Show a list of quotes";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@attribute [IgnoreAntiforgeryToken]

<div class="container px-4 py-4" id="list-of-quotes">
    <h2 class="pb-2 border-bottom">List of all quotes by ChatGPT</h2>

    <h5>Below are friends' favorite quote </h5>

    @foreach (var info in Model.QuotesList)
    {
        <div class="form-control">

            <div class="row mb-2 text-secondary-emphasis">

                <div class="col-md-10 themed-grid-col">
                    <label for="name" class="form-label" style="font-weight: bold;"> Name </label>
                    <span class="form-control"> @info.FirstName  @info.LastName</span>
                </div>
                <div class="col-md-10 themed-grid-col">
                    <label for="quote" class="form-label" style="font-weight: bold;"> Quotes </label>
                    @foreach (var quote in info.Quotes)
                    {
                        <span class="form-control">
                            @quote.Quote
                            <p class="col-md-16  text-end"> <b> @quote.Author </b> </p>
                        </span>
                    }
                </div>
            </div>
        </div>
    }

    <div class="row g-3">
        <!-- Hidden fields used to bind input model -->
        <input asp-for="QuoteInput.FriendId" type="hidden" />
        <input asp-for="QuoteInput.StatusIM" type="hidden" />
        <input asp-for="QuoteInput.NewQuote.QuoteId" type="hidden" />
        <input asp-for="QuoteInput.NewQuote.StatusIM" type="hidden" />

        <div class="col-md-7 col-lg-8">
            <input type="hidden" name="quoteId" data-seido-selected-item-id-target />
            <h3 class="pb-2"> @Model.QuoteInput.FirstName's quote </h3>
            <div class="col-md-2 themed-grid-head-col">
                <button class="btn btn-success btn-sm m-1" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseAddQuote">
                    Add quote
                </button>
            </div>
            <div class="collapse row mb-2 text-center" id="collapseAddQuote">
                <div class="form-floating col-md-6 themed-grid-col">
                    <input type="text" asp-for="QuoteInput.NewQuote.Quote" class="form-control" id="quote" value="" />
                    <span asp-validation-for="QuoteInput.NewQuote.Quote" class="invalid-feedback"></span>
                    <label for="quote"> Quote </label>
                </div>
                <div class="form-floating col-md-6 themed-grid-col">
                    <input type="text" asp-for="QuoteInput.NewQuote.Author" class="form-control" id="author" value="" />
                    <span asp-validation-for="QuoteInput.NewQuote.Author" class="invalid-feedback"></span>
                    <label for="author"> Author </label>
                </div>
                <div class="col-md-2 themed-grid-col">
                    <button type="submit" asp-page-handler="AddQuote" class="btn btn-success btn-sm m-1">
                        Ok
                    </button>
                </div>
            </div>
        </div>





    </div>
</div>
