@page
@model AppGoodFriendsRazor.Pages.FriendListModel
@{
    ViewData["Title"] = "Show a list of Friends";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@attribute [IgnoreAntiforgeryToken]

<div class="container px-4 py-4" id="list-of-friends">
    <h2 class="pb-2 border-bottom">List of all friends</h2>

    <h5>Below are friends' details </h5>
        @foreach (var item in Model.FriendsList)
        {
            <div class="form-control">

                <div class="row mb-2 text-secondary-emphasis">

                    <div class="col-md-10 themed-grid-col">
                    <label for="name" class="form-label" style="font-weight: bold;"> Name </label>
                        <span class="form-control"> @item.FirstName  @item.LastName</span>
                    </div>

                    <div class="col-md-10 themed-grid-col">
                    <label for="birthday" class="form-label" style="font-weight: bold;">Born </label>
                    <span class="form-control"> @(item.Birthday.HasValue ? item.Birthday.Value.ToString("yyyy-MM-dd") : "N/A")</span>
                    </div>

                    <div class="col-md-10 themed-grid-col">
                        <div class="row g-3 visible">
                            <label for="address" class="form-label" style="font-weight: bold;">Address </label>
                            @if (@item.Address != null)
                            {
                                <div class="col-12">
                                    <span class="form-control"> @item.Address.StreetAddress</span> </div>
                                <div class="col-md-3">
                                    <span class="form-control"> @item.Address.ZipCode</span> </div>
                                <div class="col-md-4">
                                    <span class="form-control"> @item.Address.City</span> </div>
                                <div class="col-md-5">
                                    <span class="form-control"> @item.Address.Country</span> </div> 
                            }
                            else
                            {
                                <span class="form-control"> N/A </span>
                            }
                        </div>
                    </div>

                    <div class="col-md-10 themed-grid-col">
                    <label for="email" class="form-label" style="font-weight: bold;">Email </label>
                        <span class="form-control"> @item.Email</span>
                    </div>
                    
                    <div class="col-md-5 themed-grid-col">
                    <label for="pet" class="form-label" style="font-weight: bold;">Pets </label>
                        <span class="form-control"> @item.Pets.Count </span>
                    </div>

                    <div class="col-md-5 themed-grid-col">
                    <label for="quote" class="form-label" style="font-weight: bold;">Quotes </label>
                        <span class="form-control"> @item.Quotes.Count </span>
                    </div>
                </div>
                    
                <div class="col-md-2 themed-grid-col">
                        <a href="~/Friend/FriendDetail?id=@item.FriendId" class="btn btn-primary btn-sm" type="button">View @item.FirstName's detail </a>
                </div>
            </div>
        }

    <div class="col-md-2 themed-grid-col">
        <a class="w-100 btn btn-primary btn-lg my-4" href="~/Friend/FriendsByCountry" type="button">See good friends by country </a>
    </div>

</div>
