@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container px-4 py-4" id="home">
    <div class="bg-body-tertiary p-5 rounded">
        <div class="col-sm-8 py-5 mx-auto">
            <h1 class="display-4 fw-bold">Welcome to</h1>
            <h2 class="display-5 fw-bold"> Good Friends Razor page by Quan </h2>
            <p>with kind helps from Martin and my good friends, proudly delivered to you </p>
            <h5 class="fs-5"> Choose the menu above to browse through our good friends 😇 <br />
                or simply click the button down here </h5>
            <p>
                <a class="btn btn-primary" href="~/Friend/FriendsByCountry" role="button">See good friends</a>
            </p>
            <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>

      

        <h1>Friends and Pets by Country and City</h1>

        <!-- Display Friends by Country -->
        <h2>Friends by Country</h2>
        @foreach (var friendsByCountry in Model.FriendsByCountries)
        {
            <h3>@friendsByCountry.Countries</h3>
            @foreach (var friend in friendsByCountry.Cities)
            {
                <p>@friend.NrFriends in @friend.City</p>
            }
        }

        <!-- Display Friends and Pets by City -->
        <h2>Friends and Pets by City</h2>
        @foreach (var friendPetByCity in Model.FriendPetByCities)
        {
            <h3>@friendPetByCity.City</h3>
            <p> @friendPetByCity.NrFriends friends</p>
            <p> and @friendPetByCity.NrPets pets </p>
         
        }
    </div>
</div>